%h1= @doc.title
%p= @doc.content

= link_to 'All Documents', docs_path
= link_to 'Edit Document', edit_doc_path(@doc)
= link_to 'Trash', doc_path(@doc), method: :delete, data: {confirm: "Are you sure?" }